
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: helvetica;
}

img {
  max-width: 100%;
}
.heading{
  text-align: center;
  font-family: helvetica;
  font-size: 50px;
  color: purple;
}
input{
  width: 300px;
}
.submit-button{
  float: right;
}
.bold{
  font-weight: bolder;
}
.gray{
  color: gray;
}
