<div class="form-input">
  <input type="text" id="first-name" name="first-name" placeholder="First Name" value="">
  <button class="submit-button" type="submit" name="button">Create Contact</button>
</div>
<div class="form-input">
  <input type="text" id="last-name" name="last-name" placeholder="Last Name" value="">
</div>
<div class="form-input">
  <input type="text" id="address" name="address" placeholder="Address" value="">
</div>
<div class="form-input">
  <input type="text" id="city" name="city" placeholder="City" value="">
</div>
<div class="form-input">
  <input type="text" id="state" name="state" placeholder="State" value="">
</div>
<div class="form-input">
  <input type="text" id="phone-number" name="phone-number" placeholder="Phone Number ###-###-####" value="">
</div>

</div>
